* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.MuiAppBar-root {
  background-color: #2196f3 !important;
}

.post {
  background-color: #fff;
  padding: 15px;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.postTitle {
  margin-bottom: 15px;
}

.postBody {
  line-height: 1.4;
  color: #777
}

.postButton {
  background-color: #2196f3;
  padding: 10px 15px;
  color: #fff;
  text-transform: uppercase;
  margin: 20px 0 10px;
  width: 100%;
  border: none;
}

.postButton:hover {
  background-color: #1976d2;
}

.Random-posts {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
}

.Random-posts h2 {
  margin-bottom: 20px;
  color: #1976d2;
}


.slick-list {
  margin: 0 -15px;
}

.slick-slide > div {
  padding: 0 15px;
}
.Random-posts .random-post {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;  
 height: 300px;
  width: 200px;
  margin: 20px  0  10px;
  cursor: grab;
  padding: 10px;
}
.random-post h3 {
  height: 60px;
  margin-bottom: 20px;
}
.random-post p {
  color: #777;
  margin-top: 10px;
  height: 100px;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;

}

.slick-prev {
  left: -34px !important;
}
.slick-prev:before, .slick-next:before {
  color: #2196f3 !important;
  font-size: 30px !important;

}
.swiper {
  height: 100%;
  max-width: 100%;
  flex-grow: 1;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  cursor: grab;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-post {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin-bottom: 30px !important;  
}

